body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    padding: 32px 300px;
}

ul {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0;
}

ul li {
    display: inline;
}

header a {
    color: #000;

    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    text-decoration: none;
    padding-left: 72px;
}

#home{
    padding: 0;
}

main {
    width: 100%;
    height: 552px;
    text-align: center;
    background: #00BDC9;
}

footer {
    text-align: center;
    padding: 10px;
}

#main__picture {
    padding-top: 92px;
    width: 600px;
}

h2 {
    color: #000;

    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
}

.content {
    padding: 88px 0px;
    margin: 0px 272px;
}

.content span {
    color: #04959E;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.content__text1 {
    color: #161616;

    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding: 0px 40px;
}

.content__list {
    color: #161616;

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

ol li {
    padding-bottom: 10px;
}

hr {
    margin: 0;
}

.button-div {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-div a {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    background-color: #04959E;
    color: #fff;
    text-decoration: none;
}